<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/product-page.css">

</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1>Add a new product</h1>
        <form method="POST" action="/admin/add-product" class="product-form">
            <div class="form-control">
                <label for="product-title">Title</label>
                <input type="text" name="product_type" id="product-title">
                <label for="product-desc">Description</label>
                <textarea name="product_desc" id="product-desc"></textarea>
                <label for="product-price">Price</label>
                <input type="number" name="product_price" id="product-price" step='0.01'>
                <label for="image_url">Image URL</label>
                <input type="text" name="image_url" id="image_url">
            </div> 
            <input type="submit" />
        </form>
    </main>
    <%- include('../includes/footer.ejs') %>
</body>
</html>