<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/allProducts.css">    
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1>All Products We Offer</h1>
        <section class="gallery-wrapper">                    
            <section class="product-gallery">
                <% if(prods.length > 0) {%>
                    <% for(let product of prods) { %>
                        <ul class="product__card">
                            <li>
                                <img class="product__image"
                                    src= <%= product.imageUrl %>
                                    alt=<%= product.title %> />
                            </li>
                            <li class="product__title"><%= product.title%></li>
                            <li class="product__description"><%= product.desc %></li>
                            <li class="product__price">SEK <%= product.price %></li>
                            <li class="card__actions">
                                <a href="/admin/edit-product/<%= product.id %>?editMode=true" class="card__btn">Edit</a>
                                <form method="POST" action="delete-product">
                                    <button type="submit" class="card__btn">Delete</button>
                                    <input type="hidden" name="productId" value=<%=product.id%>>
                                </form>                         
                            </li>
                        </ul>
                    <% } %>
                
                <% } else { %>
                    <h1>No Products Found</h1>
                <% } %>
            </section>                
        </section>                          
    </main>
   <%- include('../includes/footer.ejs') %>
</body>
</html>