<section class="gallery-wrapper">
                
    <section class="product-gallery">
        <% if(prods.length > 0) {%>
            <% for(let product of prods) { %>
                <ul class="product__card">
                    <li>
                        <img class="product__image"
                            src= <%= product.imageUrl %>
                            alt=<%= product.title %> />
                    </li>
                    <li class="product__title"><%= product.title%></li>
                    <li class="product__description"><%= product.desc %></li>
                    <li class="product__price">SEK <%= product.price %></li>
                    <li class="card__actions">
                        <a href="/products/<%= product.id %>" class="card__btn">Details</a>                          
                    </li>
                </ul>
            <% } %>
         
        <% } else { %>
            <h1>No Products Found</h1>
        <% } %>
    </section>
        
</section>