<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a href="/" class="nav_link <%= path === '/' ? 'active': '' %>">
                    Shop
                </a>
            </li>
            <li class="main-header__item">
                <a href="/products" class="nav_link <%= path === '/products' ? 'active': '' %>">
                    Products
                </a>
            </li>
            <li class="main-header__item">
                <a href="/cart" class="nav_link <%= path === '/cart' ? 'active': '' %>">
                    Cart
                </a>
            </li>
            <li class="main-header__item">
                <a href="/Orders" class="nav_link <%= path === '/Orders' ? 'active': '' %>">
                    Orders
                </a>
            </li>
            <li class="main-header__item">
                <a href="/checkout" class="nav_link <%= path === '/checkout' ? 'active': '' %>">
                    Check out
                </a>
            </li>
            <li class="main-header__item">
                <a href="/admin/add-product" class=" nav_link <%= path === '/admin/add-product' ? 'active': '' %>">
                    Add Products
                </a>
            </li>
            <li class="main-header__item">
                <a href="/admin/products" class=" nav_link <%= path === '/admin/products' ? 'active': '' %>">
                    Admin Products
                </a>
            </li>
        </ul>
    </nav>
</header>