<section class="gallery-wrapper">
    <img class="gallery-wrapper__arrow gallery-wrapper__arrow-left" src="/images/symbols/angle-left.svg">
    <section class="product-gallery">
        <% if(prods.length > 0) {%>
            <% for(let product of prods) { %>
                <ul class="product__card">
                    <li>
                        <img class="product__image"
                            src= <%= product.imageUrl %>
                            alt=<%= product.title %> />
                    </li>
                    <li class="product__title"><%= product.title%></li>
                    <li class="product__description"><%= product.desc %></li>
                    <li class="product__price">SEK <%= product.price %></li>
                    <li class="card__actions">
                        <a href="/products/<%= product.id %>" class="card__btn">Details</a>
                        <!-- <form action="/add-to-cart" method="POST">
                            <button class="card__btn">Add to Cart</button>
                        </form>  -->                           
                    </li>
                </ul>
            <% } %>
        
        <% } else { %>
            <h1>No Products Found</h1>
        <% } %>
    </section>
    <img class="gallery-wrapper__arrow gallery-wrapper__arrow-right" src="/images/symbols/angle-right.svg">
</section>