<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
    {{#if productCss}}
      <link rel="stylesheet" type="text/css" media="screen" href="/css/product-page.css">
    {{/if}}

</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/" class="{{#if activeShop }}active{{/if}}">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product" class="{{#if activeProductPage }}active{{/if}}">All Products</a></li>
            </ul>
        </nav>
    </header>

     {{{ body }}}   

    <footer>
        DummySite Inc.
    </footer>
</body>
</html>