<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
      
    <h1>Error 404! Requested file not available or moved from the location</h1>

    <%- include('includes/footer.ejs') %>
</body>
</html>