main {
    width: 60%;
    margin: 10px auto;
}

.product-image__container {
    height: 12rem;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.product-data {

}

.product-data__header {
    position: relative;
    display: grid;
    grid-template-columns: 80% 20%;
}
.product-data__delete-button__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dlt-from-cart-form__btn {
    border-radius: 50%;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: transparent;
}
.product-data__delete-button__img {
    border-radius: 50%;
    background:rgb(212, 212, 218);
    padding: 10px;
    width: inherit;
    object-fit: cover;
    object-position: center center;
}
.product-data__delete-button__img:hover {
    cursor: pointer;
}

.product__title{
    font-weight: bold;
}
.product__desc {
    font-weight: normal;
}
.product__desc,
.product__title {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product-cost {
    border: 1px solid purple;
    width: 100%;
}
.product-cost__heading {
    width: 70%;
    background-color: rgb(196, 194, 194);
    color: #fff;
}
.product-cost__number {
    background-color: var(--my-yellow);
    text-align: right;
}
.total-amm {
    border: 1px solid;
    width: 100%;
    margin: 10px; 
}

.fine {
    width: 90%;
    margin: 10px auto;
}

@media (min-width: 780px) {
    .product{
        display: grid;
        grid-template-columns: 30% 70%;
    }
}
