*{
    padding: 0;
    margin: 0;
}

.centered {
    width: 80%;
    margin: 10px auto;
    position: relative;
    text-align: center;
}
.main_image {
    width: 90%;
}

.two_column {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.two_column > * {
    margin-right: 50px;
}

@media (min-width: 800px) {
    .centered {
        display: grid;
        grid-template-columns: 35% 65%;
        text-align: left;
    }
}