.gallery-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-gallery {
    display: flex;
    align-items: center;
    overflow: auto;
    padding: 5px;
}
.product-gallery > * {
    margin: 0 5px;
}

.gallery-wrapper__arrow {
    width: 40px;
    position: absolute;
}
.gallery-wrapper__arrow:hover {
    cursor: pointer;
    background-color: rgba(170, 51, 51, 0.5);
}
.gallery-wrapper__arrow-left {
    left: -15px;
}
.gallery-wrapper__arrow-right {
    right: -15px;
}

.product__card {
    list-style: none;
    color: red;
    font-size: 0.9rem;
    border: 1px solid; 
    width: calc(40vw);
    box-sizing: border-box;
    padding: 2px;
}
.product__image { 
    width: 40vw;
    object-fit: 100%;
    object-position: center center;
}
.product__description,
.product__title {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: gray;
}
.product__title {
    color: #000;
    font-size: 105%;
}

.card__actions {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__btn {
    padding: 3px;
    margin: 5px;
    color: var(--my-purple);
    border: 2px solid var(--my-yellow);
    text-decoration: none;
    border-radius: 5px;
}

footer {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    background-color: var(--my-yellow);
    color: #fff;
}

.centered {
    width: 50%;
    margin: 10px auto;
}

@media (min-width: 770px) {
    .product__card,
    .product__image {
        width: 30vw;        
    }
    .product__image {

    }
}


@media (min-width: 970px) {
    .product__card,
    .product__image {
        width: 15vw;        
    }
}