/* ----------------------------
/*  Name: newexpress
    Author: Bhupinderpal Singh Kaur
    Version: 1.0.0
/* -------------------------- */
:root {
    --my-yellow: rgb(224, 228, 9);
    --my-purple: rgb(92, 8, 92);

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1.1em;
    word-spacing: 1px;
    letter-spacing: 1px;    
}
.main-header {
    width: 100%;
    height: 56px;
    background-color: var(--my-yellow);
    padding: 0 1.5rem;
}

.main-header__nav { 
    height: 100%;
    display: flex;
    align-items: center;
}
.main-header__nav > * { 
}        
.main-header__item-list {
    list-style: none;
    display: flex;
    align-items: center;
}
.main-header__item {
    margin-right: 20px;
}
.main-header__item  a {
    text-decoration: none;
    color: #fff;
}
.main-header__item  a:hover,
.main-header__item  a:active,
.main-header__item > a.active{
    color: var(--my-purple);
}

main{
    margin: 10px;
    border: 1px solid rgba(40, 40, 40, 0.7);
    padding: 10px;
    list-style-position: inside;
}

footer {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    background-color: var(--my-yellow);
    color: #fff;
}

.centered {
    width: 50%;
    margin: 10px auto;
}

@media (min-width: 780px) {
    .main-header {
    
    }
}