.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}
.form-control {
    margin: 10px 0px;
}
.form-control input,
.form-control label{
    display: block;             
}
.form-control input {            
    border: 1px solid  var(--my-yellow);
    border-radius: 2px;
    padding: 10px;
}
input[type="submit"] {
    border: 1px solid var(--my-purple);
    background-color: white;
    border-radius: 3px;
    color: var(--my-purple);
    padding: 5px;
    min-width: 150px;
}
input[type="submit"]:hover,
input[type="submit"]:active {
    background-color: var(--my-purple);
    color: #fff;
}
