<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/cart.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <h1>Your shopping cart</h1>
    <main>
        <% if(cart.products.length > 0) { %>
            <% for( let product of cart.products) { %>
                <section class="product">
                    <div class="product-image__container">
                        <img src="<%= product.imageUrl %>" title="<%= product.title %>" class="product-image">
                    </div>
                    <div class="product-data">
                        <section class="product-data__header">
                            <section class="product-data__info">
                                <p class="product__title"><%= product.title %></p>
                                <p class="product__desc"><%= product.desc %></p>
                                <p class="product__price">SEK <%= product.price %></p>
                            </section>
                            <section class="product-data__delete-button__container">
                                <form method="POST" action="/delete-from-cart" class="dlt-from-cart-form">
                                    <input type="hidden" name="entryId" value="<%= product.entryId %>" >
                                    <button type="submit" class="dlt-from-cart-form__btn">
                                        <img src="images/symbols/garbage.svg" alt="" class="product-data__delete-button__img">
                                    </button>
                                </form>
                            </section>
                        </section>
                        
                        <p class="product__size">Size: <%= product.prod_size %>
                            <select name="product-size" id="" class="product-data__custom-select">
                                <option hidden value="<%= product.prod_size %>"><%= product.prod_size %></option>
                                <option name="product-size" value="42">42</option>
                                <option name="product-size" value="43">43</option>
                                <option name="product-size" value="44">44</option>
                                <option name="product-size" value="45">45</option>
                                <option name="product-size" value="46">46</option>
                            </select>
                        </p>
                        <p class="product__size">Quantity 
                            <select name="how-many" class="product-data__custom-select" >
                                <option hidden value="<%= product.prod_quantity %>"><%= product.prod_quantity %></option>
                                <option name="how-many" value="1">1</option>
                                <option name="how-many" value="2">2</option>
                                <option name="how-many" value="3">3</option>
                                <option name="how-many" value="4">4</option>
                                <option name="how-many" value="5">5</option>
                            </select>
                        </p>   
                        <table class="product-cost">
                                <tr>
                                    <td class="product-cost__heading">Products</td>
                                    <td class="product-cost__number"><%= product.prod_quantity %></td>
                                </tr>
                                <tr>
                                    <td class="product-cost__heading">Sum</td>
                                    <td class="product-cost__number"><%= product.productCost %></td>
                                </tr>
                            </table>                 
                    </div>                
                </section>
                
                <hr class="fine">
            <% } %>
            <table class="total-amm">
                <tr>
                    <td>Total Ammount</td>
                    <td><%= cart.totalAmmount %></td>
                </tr>
            </table>
        <% } else { %>
            <h2>Could not find any products in cart!!</h2>
        <% } %>
    </main>
</body>
<%- include('../includes/footer.ejs') %>
</html>