<%- include('../includes/head.ejs') %>
 <link rel="stylesheet" type="text/css" href="/css/product-details.css" >   
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="centered">
        <section class="show-case">
            <img class="main_image" src=<%= product.imageUrl %> alt= <%= product.title %> />
        </section>
        <section class="product-details">
            <h3><%= product.title %></h3>
            <h3><em>SEK <%= product.price %></em></h3>
            <p> <%= product.desc %></p>
            <form action="/add-to-cart" method="POST" name="productForm">
                <div class="two_column">
                    <label for="prod_size">Select size</label>
                    <select name="prod_size" id="prod_size">
                        <option name="prod_size" value="42">42</option>
                        <option name="prod_size" value="43">43</option>
                        <option name="prod_size" value="44">44</option>
                        <option name="prod_size" value="45">45</option>
                        <option name="prod_size" value="46">46</option>
                    </select>
                </div>
                <div class="two_column">
                    <label for="prod_quantity">Select quantity</label>
                    <select name="prod_quantity" id="prod_quantity">
                        <option name="prod_quantity" value="1">1</option>
                        <option name="prod_quantity" value="2">2</option>
                        <option name="prod_quantity" value="3">3</option>
                        <option name="prod_quantity" value="4">4</option>
                        <option name="prod_quantity" value="5">5</option>
                    </select>
                </div>
                <button class="card_btn" type="submit">Add to Cart</button>
                <input type="hidden" name="productId" value=<%= product.id %> >
            </form> 
        </section>        
                  
    </main>
    <%- include('../includes/footer.ejs') %>
</body>
</html>