<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/allProducts.css">
    
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1>My Products</h1>
        <p>List of all products</p>
        
        <%- include('../includes/allProducts.ejs') %>
                
    </main>
   <%- include('../includes/footer.ejs') %>
</body>
</html>